@model CRUD_TEST.Models.EmpModel
@{
    ViewBag.Title = "AddEmp";
    Layout = null;
}

<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/assets/css/themify-icons.css" rel="stylesheet" />
<link href="~/assets/css/metisMenu.css" rel="stylesheet" />
<link href="~/assets/css/owl.carousel.min.css" rel="stylesheet" />
<link href="~/assets/css/slicknav.min.css" rel="stylesheet" />

<link href="~/assets/css/typography.css" rel="stylesheet" />
<link href="~/assets/css/default-css.css" rel="stylesheet" />
<link href="~/assets/css/styles.css" rel="stylesheet" />
<link href="~/assets/css/responsive.css" rel="stylesheet" />
<script src="~/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- login area start -->
    <div class="login-area login-bg">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-xl-4 offset-xl-8 col-lg-6 offset-lg-6">
                    <div class="login-box-s2 ptb--100">

                        @using (Html.BeginForm("AddEmp", "Home", FormMethod.Post))
                        {

                            <form>
                                <div class="login-form-head">
                                    <h4>Add Employee Details</h4>
                                    <p>Hello there, Add Your Details and Join with Us</p>
                                </div>
                                <div class="login-form-body">

                                    @Html.HiddenFor(m => m.Emp_Id)
                                    <div class="form-gp">
                                        <label for="exampleInputName1">Full Name</label>
                                        @* <input type="text" id="exampleInputName1">*@
                                        @Html.TextBoxFor(m => m.Emp_Name, "", new { })
                                        @Html.ValidationMessageFor(m => m.Emp_Name, "", new { @class = "error" })
                                        <i class="ti-user"></i>
                                        <div class="text-danger"></div>
                                    </div>
                                    <div class="form-gp">
                                        <label for="exampleInputEmail1">Company Name </label>
                                        @* <input type="email" id="exampleInputEmail1">*@
                                        @Html.TextBoxFor(m => m.Emp_Comp_Name, "", new { })
                                        @Html.ValidationMessageFor(m => m.Emp_Comp_Name, "", new { @class = "error" })
                                        <i class="ti-email"></i>
                                        <div class="text-danger"></div>
                                    </div>
                                    <div class="form-gp">
                                        <label for="exampleInputPassword1">Department  Name</label>
                                        @* <input type="password" id="exampleInputPassword1">*@
                                        @Html.TextBoxFor(m => m.Emp_Dept_Name, "", new { })
                                        @Html.ValidationMessageFor(m => m.Emp_Dept_Name, "", new { @class = "error" })
                                        <i class="ti-lock"></i>
                                        <div class="text-danger"></div>
                                    </div>
                                    <div class="form-gp">
                                        <label for="exampleInputPassword2">Employee Salary</label>
                                        @*<input type="password" id="exampleInputPassword2">*@
                                        @Html.TextBoxFor(m => m.Emp_Sal, "", new { })
                                        @Html.ValidationMessageFor(m => m.Emp_Sal, "", new { @class = "error" })
                                        <i class="ti-lock"></i>
                                        <div class="text-danger"></div>
                                    </div>
                                    <div class="form-gp">
                                        <label for="exampleInputPassword2">Mobile Number </label>
                                        @*<input type="password" id="exampleInputPassword2">*@
                                        @Html.TextBoxFor(m => m.Emp_Mob, "", new { })
                                        @Html.ValidationMessageFor(m => m.Emp_Mob, "", new { @class = "error" })
                                        <i class="ti-lock"></i>
                                        <div class="text-danger"></div>
                                    </div>
                                    <div class="submit-btn-area">



                                        @*<button id="form_submit" type="submit">Submit <i class="ti-arrow-right"></i></button>*@
                                        @if (ViewBag.edit == "Edit")
                                        {
                                            <button type="submit" class="btn btn-primary">Update Employee</button>
                                        }
                                        else
                                        {
                                            <button type="submit" class="btn btn-primary">Add Employee</button>
                                        }
                                        <button type="reset" class="btn btn-primary">Reset </button>

                                    </div>

                                </div>
                            </form>
                        }
                        </div>
                </div>
            </div>
        </div>
    </div>


<script src="~/assets/js/vendor/jquery-2.2.4.min.js"></script>
<script src="~/assets/js/popper.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/owl.carousel.min.js"></script>
<script src="~/assets/js/metisMenu.min.js"></script>
<script src="~/assets/js/jquery.slimscroll.min.js"></script>
<script src="~/assets/js/jquery.slicknav.min.js"></script>
<script src="~/assets/js/plugins.js"></script>
<script src="~/assets/js/scripts.js"></script>



<!--<div>-->
@*  <lable>Employee Id</lable>
    @Html.TextBoxFor(m => m.Emp_Id, "", new { @placeholder = "Enter  Employee Id:" })
    @Html.ValidationMessageFor(m => m.Emp_Id, "", new { @class = "error" })*@
<!--@Html.HiddenFor(m => m.Emp_Id)

</div>
<div>
    <lable>Employee Name</lable>
    @Html.TextBoxFor(m => m.Emp_Name, "", new { @placeholder = "Enter your Name :" })
    @Html.ValidationMessageFor(m => m.Emp_Name, "", new { @class = "error" })

</div>
<div>
    <lable>Employee Company Name</lable>
    @Html.TextBoxFor(m => m.Emp_Comp_Name, "", new { @placeholder = "Enter  Company Name :" })
    @Html.ValidationMessageFor(m => m.Emp_Comp_Name, "", new { @class = "error" })

</div>
<div>
    <lable>Employee Dept Name</lable>
    @Html.TextBoxFor(m => m.Emp_Dept_Name, "", new { @placeholder = "Enter  Dept Name:" })
    @Html.ValidationMessageFor(m => m.Emp_Dept_Name, "", new { @class = "error" })

</div>
<div>
    <lable>Employee Salary</lable>
    @Html.TextBoxFor(m => m.Emp_Sal, "", new { @placeholder = "Enter  Salary Amount:" })
    @Html.ValidationMessageFor(m => m.Emp_Sal, "", new { @class = "error" })

</div>
<div>
    <lable>Employee Mobile</lable>
    @Html.TextBoxFor(m => m.Emp_Mob, "", new { @placeholder = "Enter  Mobile Number:" })
    @Html.ValidationMessageFor(m => m.Emp_Mob, "", new { @class = "error" })

</div>
     if (ViewBag.edit == "Edit")
     {
<button type="submit" class="btn btn-primary">Update Employee</button>
     }
     else
     {
<button type="submit" class="btn btn-primary">Add Employee</button>
     }

<button class="btn btn-default" type="reset">Reset</button>-->
