@model CRUD_TEST.DB_RAHUL.User_Table
@{
    Layout = null;
}



    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="assets/images/icon/logo2.png" />">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/css/themify-icons.css" rel="stylesheet" />
    <link href="/assets/css/metisMenu.css" rel="stylesheet" />
    <link href="/assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="/assets/css/slicknav.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />


    <link href="/assets/css/typography.css" rel="stylesheet" />
    <link href="/assets/css/default-css.css" rel="stylesheet" />
    <link href="/assets/css/styles.css" rel="stylesheet" />
    <link href="/assets/css/responsive.css" rel="stylesheet" />
    <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>




    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- login area start -->
    <div class="login-area login-bg">
        <div class="container">
            <div class="login-box ptb--100">

                @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                {
                    <form>
                        <div align="center" class="login-form-head">
                            <h4>Sign In</h4>
                            <p>Hello there, Sign in and start managing your Admin Template</p>
                        </div>
                        <div align="center" class="login-form-body">
                            <div class="form-gp">
                                <label for="exampleInputEmail1">Email address</label>
                                @* <input type="email" id="exampleInputEmail1">*@
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "error" })
                                <span>@TempData["EmailnotFound"]</span>
                                <i class="ti-email"></i>
                                <div class="text-danger"></div>
                            </div>
                            <div class="form-gp">
                                <label for="exampleInputPassword1">Password</label>
                                @*  <input type="password" id="exampleInputPassword1">*@
                                @Html.PasswordFor(m => m.Password, new {  @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })
                                <span>@TempData["password"]</span>
                                <i class="ti-lock"></i>
                                <div class="text-danger"></div>
                            </div>
                            <div class="row mb-4 rmber-area">
                                <div class="col-6">
                                    <div class="custom-control custom-checkbox mr-sm-2">
                                        <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                        <label class="custom-control-label" for="customControlAutosizing">Remember Me</label>
                                    </div>
                                </div>
                                <div class="col-6 text-right">
                                    <a href="@Url.Action("forget", "Home")">Forgot Password?</a>
                                </div>
                            </div>
                            <div class="submit-btn-area">
                                <button id="form_submit" type="submit">Submit <i class="ti-arrow-right"></i></button>
                            </div>
                            <div class="form-footer text-center mt-5">
                                <p class="text-muted">Don't have an account? <a href="@Url.Action("Register", "Home")">Sign up</a></p>
                            </div>
                        </div>
                    </form>
                }
                </div>
        </div>
    </div>

<script src="/assets/js/vendor/jquery-2.2.4.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/metisMenu.min.js"></script>
<script src="/assets/js/jquery.slimscroll.min.js"></script>
<script src="/assets/js/jquery.slicknav.min.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/scripts.js"></script>








@*

    <div>
        <lable>User Email</lable>
        @Html.TextBoxFor(m => m.Email, new { @placeholder = "Wnter tour Email:", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "error" })
        <span>@TempData["EmailnotFound"]</span>
    </div>
    <div>
        <lable>User Password</lable>
        @Html.PasswordFor(m => m.Password, new { @placeholder = "Wnter tour Password:", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })
        <span>@TempData["password"]</span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">LogIn</button>
    <div style="text-align-last">
        <a class="btn btn-primary" href="@Url.Action("Register","Home")"> New User</a>
    </div>
*@






